@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    max-width: 360px;
    margin: 0;
}

.card {
    padding: 18px;
    border-radius: 17px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
    position: absolute;
    bottom: 0;
    
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

